[phases.setup]
nixPkgs = ["php82", "php82Extensions.pdo_mysql", "php82Extensions.redis"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader"
]

[phases.build]
cmds = [
  "php artisan key:generate --force || true"
]

[start]
cmd = "php artisan migrate --force || true && php artisan optimize:clear && php artisan config:cache && php artisan route:cache && php-fpm"
