.notice-letter {
  background: #fff;
  color: #000;
}

/* Print only the letter */
@media print {
  body * {
    visibility: hidden;
  }

  .notice-letter,
  .notice-letter * {
    visibility: visible;
  }

  .notice-letter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}