@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #00C853;
    --color-background-light: #F7F8FC;
    --color-background-dark: #102216;
    --color-dark-surface: #162b20;
    --color-primary-text: #1C1C1E;
    --color-secondary-text: #8A8A8E;
    --color-text-muted: #8ca394;
    --color-text-main: #ffffff;
    --color-card-light: #FFFFFF;
    --color-card-dark: #1C1C1E;

    --color-primary-dark: #00a344;
    --color-border-green: #cdead9;
    --color-surface: #ffffff;
    --color-text-secondary-green: #45a16b;

    --font-display: "Manrope", "sans-serif";

    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
    --radius-2xl: 1.5rem;
}

/* Gold Coin Spinner Animation */
.coin-spinner {
    animation: spin-3d 0.5s linear infinite;
    transform-style: preserve-3d;
}

@keyframes spin-3d {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}